
.bloc-footer
{
    background-color: rgba(0, 0, 0, 0.767); 
    padding: 5%;
    color: white;
    position: relative;
   
 
    
    a   
    {
    text-decoration: none;
       color: white;
    }
    p
    {
    font-family: roboto;
    font-size: 1.5em;
    }
}

.logo-blanc
{
    color: white;
    font-family: Shrikhand;
    font-size: 1.3em;
    
}



.fa-utensils
{
    
    font-size: 1.5em;
    color: white;
   position: absolute;
   top: calc(35% - 13px);
   left: -5px;
  
}

.fa-handshake-angle
{
    
    font-size: 1.2em;
    color: white;
    position: absolute;
    top: calc(50% - 13px);
    left: -5px;
}
.margin-left
{
margin-left: 40px;
}


