@import "./Components/Bloc-new";

h3
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 1.5em;
}




.cards-list {
    padding: 20px;
    background-color: #f2f2f2;

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        .card {
            text-decoration: none;
            color: black;
            border-radius: 20px;
            overflow: hidden;
            display: block;
            height: 250px;
            background-size: cover;
            position: relative;
            width: 100%;
            max-width: 350px;
            margin: 20px;
    
            &__1 {background-image: url('../assets/restaurants/card-1.jpg');}
            &__2 {background-image: url('../assets/restaurants/card-2.jpg');}
            &__3 {background-image: url('../assets/restaurants/card-3.jpg');}
            &__4 {background-image: url('../assets/restaurants/card-4.jpg');}
            
            .bloc-card {
                border: 0px solid #f2f2f2;
                background-color: white;
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 15px 10px;
              
                .fa-heart {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 1.9em;
                    position: absolute;
                    top: calc(40% - 15px);
                    left: 260px;
    
                }

               

                
            }
        }
    }
}


