@import "../Components/Button";

p {
    font-family: Roboto; 
}

header{
    .bloc-header {
        #logo {
            @include logo   
        }

        .rect-p {
            height: 50px;
            background-color: #EAEAEA;
            display: flex;
            justify-content: center;
            font-weight: bold;
            align-items: center;  
            
            .fa-location-dot
            {
                padding-right: 15px;
                color: grey;
            }
            p 
            {
                color: grey;
            }
        } 

        .bloc-btn {
            background-color: #F6F6F6;
            font-family: Roboto; 
            font-size: 1.2em;
            display: flex;
            flex-direction: column;
            padding: 20px 10px;
            text-align: center;
    
            h2 {
                font-size: 1.8em;
                margin: 10px;
                font-weight: bold; 
        
            }
            p{
                margin: 10px 0;
            }
        }
    }   
}
