@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

h2 {
  font-family: Roboto;
}

h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.5em;
}

.bloc-footer {
  background-color: rgba(0, 0, 0, 0.767);
  padding: 5%;
  color: white;
  position: relative;
}
.bloc-footer a {
  text-decoration: none;
  color: white;
}
.bloc-footer p {
  font-family: roboto;
  font-size: 1.5em;
  margin: 20px;
}
.bloc-footer i.fa-solid {
  color: white;
  font-size: 1em;
  margin: 0 0;
  width: 30px;
}
.bloc-footer .margin-left {
  margin-left: 15px;
}
.bloc-footer .logo-blanc {
  color: white;
  font-family: Shrikhand;
  font-size: 1.3em;
  padding: 15px;
}

#bouton {
  width: 60%;
  height: 60px;
  border: 2px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  margin: auto;
  background: linear-gradient(#E671DA, #A35BDC);
  font-family: Roboto;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 2px 2px #acacac;
}
#bouton:hover {
  background: linear-gradient(#ffa8f6, #b789dd);
  box-shadow: 3px 3px 4px #aaaaaa;
}

p {
  font-family: Roboto;
}

header .bloc-header #logo {
  width: 200px;
  margin: 20px auto;
  display: block;
}
header .bloc-header .rect-p {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
}
header .bloc-header .bloc-btn {
  background-color: #F6F6F6;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  text-align: center;
}
header .bloc-header .bloc-btn h2 {
  font-size: 2em;
  margin: 10px 0;
}
header .bloc-header .bloc-btn p {
  margin: 10px 0;
}

.rect-nav {
  border: 2px grey;
  width: 80%;
  height: 70px;
  border-radius: 25px;
  background-color: #F6F6F6;
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
.rect-nav p {
  display: inline;
}

.bold {
  font-weight: bold;
}

.fa-solid {
  color: gray;
  font-size: 1.5em;
  margin: auto 30px;
}

.nombre-cercle {
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  position: absolute;
  top: calc(50% - 15px);
  left: -15px;
}

.bloc-new {
  height: 15px;
  width: 82px;
  background-color: #99e2d0;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Roboto;
  padding: 10px;
  border-radius: 2px;
}

.cards-list {
  padding: 20px;
  background-color: #f2f2f2;
}
.cards-list .cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.cards-list .cards .card {
  text-decoration: none;
  color: black;
  border-radius: 20px;
  overflow: hidden;
  display: block;
  height: 250px;
  background-size: cover;
  position: relative;
  width: 100%;
  max-width: 350px;
  margin: 20px;
}
.cards-list .cards .card__1 {
  background-image: url("../assets/restaurants/card-1.jpg");
}
.cards-list .cards .card__2 {
  background-image: url("../assets/restaurants/card-2.jpg");
}
.cards-list .cards .card__3 {
  background-image: url("../assets/restaurants/card-3.jpg");
}
.cards-list .cards .card__4 {
  background-image: url("../assets/restaurants/card-4.jpg");
}
.cards-list .cards .card .bloc-card {
  border: 0px solid #f2f2f2;
  background-color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px 10px;
}
.cards-list .cards .card .bloc-card .fa-heart {
  position: absolute;
  top: calc(5% - 1px);
  left: 300px;
  font-size: 2.2em;
  color: grey;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0.2em;
}
.cards-list .cards .card .bloc-card .fa-heart::before {
  content: "\f004";
  font-weight: bold;
  transition: color 1s ease-out;
}
.cards-list .cards .card .bloc-card .fa-heart:hover::before {
  color: red;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #99e2d0;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
  position: fixed;
  cursor: wait;
  top: 0px;
  left: 0px;
  /* Placement du loader */
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-duration: 2s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
    opacity: 0;
    display: none;
  }
}
main {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}
main .titre-marg {
  margin: 20px;
}
main a {
  text-decoration: none;
}

#back-arrow {
  position: absolute;
  top: 20px;
  left: 10px;
}
#back-arrow .fa-solid {
  margin: 0;
}

body #logo {
  width: 200px;
  margin: 20px auto;
  display: block;
}
body #bouton {
  width: 60%;
  height: 70px;
  border: 2px;
  background-color: #FF79DA;
  border-radius: 25px 25px 25px 25px;
  color: white;
  font-weight: bold;
  display: block;
  margin-top: 50px;
}

.fa-arrow-left {
  font-size: 2em;
  color: black;
}

.img-fr {
  height: 300px;
  width: 100%;
}

.bloc-menu {
  width: 100%;
  height: 1200px;
  background-color: #f2f2f2;
  position: relative;
  margin-top: -30px;
  border-radius: 35px 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bloc-menu h1 {
  padding: 50px 0px 25px 25px;
  font-size: 1.5em;
}
.bloc-menu .fa-heart {
  position: absolute;
  top: calc(5% - 25px);
  left: 300px;
  font-size: 2.2em;
  color: grey;
  background-color: #f2f2f2;
  border-radius: 50%;
  padding: 0.2em;
}
.bloc-menu .fa-heart::before {
  content: "\f004";
  font-weight: bold;
  transition: color 1s ease-out;
}
.bloc-menu .fa-heart:hover::before {
  color: red;
  cursor: pointer;
}
.bloc-menu p {
  padding-left: 25px;
  padding-top: 10px;
}

.entrées {
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-fr {
  background-image: url("../assets/restaurants/card-3.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

.card-note {
  background-image: url("../assets/restaurants/card-2.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

.card-palette {
  background-image: url("../assets/restaurants/card-1.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

.card-delice {
  background-image: url("../assets/restaurants/card-4.jpg");
  background-size: cover;
  background-position: 50%;
  height: 200px;
}

.underline-bloc {
  width: 35px;
  height: 5px;
  background-color: #99E2D0;
  margin-top: 5px;
  margin-left: 25px;
}

h1 {
  font-family: Shrikhand;
}

.card {
  border: 1px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  width: 90%;
  height: 70px;
  margin-top: 20px;
  display: block;
  position: relative;
  overflow: hidden;
}

.margin-bottom {
  margin-bottom: 40px;
}

.aife {
  display: flex;
  justify-content: flex-end;
  font-family: roboto;
  padding-right: 5px;
  transition: 0.3s;
  right: 0;
  position: relative;
  top: calc(-5% - 10px);
}

.checkmark {
  background-color: #99E2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -70px;
  width: 70px;
  transition: 0.3s;
  font-size: 20px;
}

.fa-circle-check {
  color: #fff;
  transform: rotate(360deg);
}

.checkbox {
  display: none;
}

.card:hover .checkmark {
  right: 0px;
}

.card:hover .aife {
  right: 70px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloc-menu .card {
  opacity: 0;
  margin-top: 30px;
}

.card_1 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}

.card_2 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.card_3 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

.card_4 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
}

.card_5 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.card_6 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
}

.card_7 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

.card_8 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
}

.card_9 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.9s;
}

.card_10 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.card_11 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 1.1s;
}

.card_12 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

.card_13 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 1.3s;
}

.card_14 {
  animation: appear 0.5s linear;
  animation-fill-mode: forwards;
  animation-delay: 1.4s;
}

@keyframes appear {
  to {
    opacity: 1;
    margin-top: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
