@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");
#bouton {
  width: 60%;
  height: 60px;
  border: 2px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  margin-left: 20%;
  background: linear-gradient(#E671DA, #A35BDC);
  font-family: Roboto 100;
}

p {
  font-family: Roboto;
}

header .logo {
  width: 200px;
  margin-left: 115px;
  padding-bottom: 10px;
}
header .bloc-btn {
  height: 350px;
  width: 100%;
  background-color: #F6F6F6;
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
header .bloc-btn h2 {
  margin-left: 60px;
  font-size: 2em;
}
header .bloc-btn p {
  padding-left: 80px;
}
header .rect-p {
  height: 50px;
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-right: 70px;
}

.rect-nav {
  border: 2px grey;
  width: 80%;
  height: 70px;
  border-radius: 25px;
  background-color: #F6F6F6;
  position: relative;
  margin: 20px auto;
  display: flex;
  align-items: center;
}
.rect-nav p {
  display: inline;
}

.bold {
  font-weight: bold;
}

.fa-solid {
  color: gray;
  font-size: 1.5em;
  margin: auto 40px;
}

.nombre-cercle {
  height: 30px;
  width: 30px;
  background-color: #9356DC;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Roboto;
  position: absolute;
  top: calc(50% - 15px);
  left: -15px;
}

h2 {
  font-family: Roboto;
}

.bloc-footer {
  background-color: rgba(0, 0, 0, 0.767);
  height: 300px;
  padding-left: 5%;
  padding-top: 5%;
  color: white;
  position: relative;
}
.bloc-footer a {
  text-decoration: none;
  color: white;
}
.bloc-footer p {
  font-family: roboto;
  font-size: 1.8em;
}

.logo-blanc {
  color: white;
  font-family: Shrikhand;
  font-size: 1.8em;
}

.fa-utensils {
  font-size: 1.8em;
  color: white;
  position: absolute;
  top: calc(35% - 15px);
  left: -15px;
}

.fa-handshake-angle {
  font-size: 1.8em;
  color: white;
  position: absolute;
  top: calc(54% - 15px);
  left: -15px;
}

.margin-left {
  margin-left: 60px;
}

main {
  width: 100%;
  max-width: 800px;
  margin: 0px auto;
}
main a {
  text-decoration: none;
}
main a h3 {
  color: black;
}

h3 {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1.5em;
}

.cards-list {
  height: 1550px;
  background-color: #f2f2f2;
}
.cards-list a {
  text-decoration: none;
  color: black;
}

.card {
  height: 300px;
  width: 90%;
  padding-left: 5%;
  border-radius: 10% 5% 0% 0%;
}

.bloc-card {
  border: 0px solid #f2f2f2;
  background-color: white;
  width: 88%;
  height: 120px;
  margin-left: 4.8%;
  border-radius: 0% 0% 5% 5%;
  position: absolute;
}

.fa-heart {
  display: flex;
  justify-content: flex-end;
  font-size: 2.5em;
  position: absolute;
  top: calc(30% - 15px);
  left: 380px;
}

body .bouton {
  width: 50%;
  height: 70px;
  border: 2px;
  background-color: #FF79DA;
  border-radius: 25px 25px 25px 25px;
  color: white;
  font-weight: bold;
  margin-left: 25%;
  margin-top: 60px;
}

.logo {
  width: 200px;
  padding-left: 30px;
}

.fa-arrow-left {
  font-size: 2em;
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
}

.img-fr {
  height: 300px;
  width: 100%;
}

.bloc-menu {
  width: 100%;
  height: 1200px;
  background-color: #f2f2f2;
  position: relative;
}
.bloc-menu .fa-heart {
  position: absolute;
  top: calc(2% - 15px);
  left: 400px;
  font-size: 2.2em;
}

h1 {
  font-family: Shrikhand;
}

.card-entrées {
  border: 1px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  width: 90%;
  height: 70px;
  margin-left: 5%;
}

.card-plats {
  border: 1px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  width: 90%;
  height: 70px;
  margin-left: 5%;
}

.card-desserts {
  border: 1px;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  width: 90%;
  height: 70px;
  margin-left: 5%;
}

.prix {
  display: flex;
  justify-content: space-between;
}

.margin-bottom {
  margin-bottom: 40px;
}

.souligné {
  height: 3px;
  width: 2px;
  color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
