#bouton {
    width: 60%;
    height: 60px;
    border: 2px;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin-left: 20%;
    background: linear-gradient(#E671DA, #A35BDC);
    font-family: Roboto 100;
}
