#bouton {
    width: 60%;
    height: 60px;
    border: 2px;
    border-radius: 50px;  
    color: white;
    font-weight: bold;
    margin: auto;
    background: linear-gradient(#E671DA, #A35BDC);
    font-family: Roboto;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgb(172, 172, 172);

    &:hover {
        background: linear-gradient(#ffa8f6, #b789dd);
        box-shadow: 3px 3px 4px rgb(170, 170, 170);
    }
}
