@mixin card {
    text-decoration: none;
    color: black;
    border-radius: 20px;
    overflow: hidden;
    display: block;
    height: 250px;
    background-size: cover;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: 20px;

    &__1 {background-image: url('../assets/restaurants/card-1.jpg');}
    &__2 {background-image: url('../assets/restaurants/card-2.jpg');}
    &__3 {background-image: url('../assets/restaurants/card-3.jpg');}
    &__4 {background-image: url('../assets/restaurants/card-4.jpg');}
    
    .bloc-card {
        border: 0px solid #f2f2f2;
        background-color: white;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 15px 10px;

        p
        {
            width: 80%;
        }
        h3 
        {
            font-size: 1.2em;
        }
            .heart-box
            {
                position: relative;
                width: 95%;
                cursor: grab;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: 20px;
                padding-bottom: 20px;
                
        
            }
        
            .fa-heart
            {
                position: absolute;      
                font-size: 2.2em;
          
                &:hover {
                    opacity: 0;
                    transition: all .5s ease-in-out;
                 
                }
         
             }
    
        .heart-box .fa-solid
        {   position: absolute;
            font-size: 2.2em;
            opacity: 0;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            background-image: linear-gradient(#ffa8f6, #b789dd);
            
            &:hover {
                opacity: 1;
                transition: opacity 0.8s ease-in-out;
                
                    
            }
           
        }
            
        .box-title-heart
        {
            display: flex;
            align-items: baseline;
          
    
        } 
    }
       
}
    


