@import "../layout/index_header";
@import "../layout/index_nav";
@import "../layout/index_restaurants";
@import "../Components/loader";


main {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    
    .titre-marg {
        margin: 20px;
    }

    a {
        text-decoration: none;
    }
   
} 
