@import "../Components/BackArrow";

body {
    #logo {
        @include logo
    }


    #bouton {
        width: 60%;height: 70px;
        border: 2px; 
        background-color: #FF79DA;
        border-radius: 25px 25px 25px 25px;
        color: white;
        font-weight: bold;
        display: block;
        margin-top: 50px;
    }
}

.fa-arrow-left
{   
    font-size: 2em;
    color: black;
}


.img-fr {
    height: 300px;
    width: 100%;
}


.bloc-menu
{
    width: 100%;
    height: 1200px;
    background-color: #f2f2f2;
    position: relative;
    margin-top: -30px;
    border-radius: 35px 35px;
    white-space: nowrap;
    text-overflow: ellipsis;

    h1
    {
        padding: 50px 0px 25px 25px;
        font-size: 1.5em;
    }
    
    .heart-box
    {
         position: relative; top: calc( -3% - 20px);
         left: 300px;
         cursor: grab;
         
    }

    .fa-regular
    {
        position: absolute;
        left: 31px;        
        font-size: 2em;
       
        
        
        &:hover {
            opacity: 0;
            transition: all .5s ease-in-out;
             
        }
     
    }
    .hearth-solid
    {   position: absolute;
        display: block;
        font-size: 2.2em;
        opacity: 0;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(#ffa8f6, #b789dd);
        
        
       
       

        &:hover {
            opacity: 1;
            transition: all .5s ease-in-out;
            
                
        }
       
    }
        

       
        
    p
    {
        padding-left: 25px;
        padding-top: 10px;
        
    }

}

.entrées
{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-fr
{
    background-image: url('../assets/restaurants/card-3.jpg');
    background-size: cover;
    background-position: 50%;
    height: 200px;
}

.card-note
{
    background-image: url('../assets/restaurants/card-2.jpg');
    background-size: cover;
    background-position: 50%;
    height: 200px;
}

.card-palette
{
    background-image: url('../assets/restaurants/card-1.jpg');
    background-size: cover;
    background-position: 50%;
    height: 200px;
}

.card-delice
{
    background-image: url('../assets/restaurants/card-4.jpg');
    background-size: cover;
    background-position: 50%;
    height: 200px;
}

.underline-bloc
{
    width: 35px;
    height: 5px;
    background-color: #99E2D0;
    margin-top: 5px;
    margin-left: 25px;

    
}
h1
{
    font-family: Shrikhand;
}

.card
{
    border: 1px ;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    width: 90%;
    height: 70px;
    margin-top: 20px;
    display: block;
    position: relative;
    overflow: hidden;
    
   
}


.margin-bottom 
{
    margin-bottom: 40px;
}

.aife {
    display: flex;
    justify-content: flex-end;
    font-family: roboto;
    padding-right: 5px;
    transition: 0.3s;
    right: 0;
    position: relative;
    top: calc(-5% - 10px);
    
}


.checkmark {
    background-color: #99E2D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -70px;
    width: 70px;
    transition: 0.3s;
    font-size: 20px;
   
}

.card:hover .checkmark .fa-circle-check
{
    color: #ffffff;
    animation: spin 1s forwards;
}
    
@keyframes spin {
    from{transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}



.card:hover .checkmark {
    right: 0;
}

.checkbox {
    display: none
   
}

.card:hover .checkmark {
    right: 0px;
}

.card:hover .price {
    right: 70px;
    
    
   
}

.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}



// animation apparition
.bloc-menu {
    .card {
        opacity: 0;
        margin-top: 30px;
    }
}

@for $i from 1 to 15 {
    .card_#{$i} {
        animation: appear 0.5s linear;
        animation-fill-mode: forwards;
        animation-delay: #{$i * 0.1s};
    }
}


@keyframes appear {
    to {
        opacity: 1;
        margin-top: 20px;
    }
}

